@use'../custom' as *;
@use '../components/mixins.scss' as *;

.social {
    padding: 0 0 5rem 0;
    

    &__logo-box {
        max-width: 100%;
        height: 3rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        text-align: center;
        position: relative;

        @include media-breakpoint-up(lg) {
            height: 5rem;
    }
        

        img {
            height: 100%;

            
        }
        &:hover {
            filter: grayscale(120);
            height: 6rem;
            max-width: 100%;
            
        }
    }
}

.social-box {
    margin: 0 auto;
}

.photography_section {
    position: relative;
    padding: 5rem ;
    @include gradient;
    background-color: rgba($black, 0.8) ;
}

.carousel-caption {
    background-color: rgba($black, 0.8) ;
    border-radius: 0.625rem;

}

// .carousel-item {
//     display: block;
//     width: 300;
//     height: 500;
  
//     @include media-breakpoint-down(md) {
//         display: block;
//         width: 200;
//         height: 300;
//     }
// }

