@use '../custom' as *;
@use '../components/mixins.scss' as *;

.menu {
    @include gradient;
}

li {
    padding: 0 0.7rem ;

    a {
        color: $white;
        text-transform: capitalize;
        font-weight: 700;
        font: 1em ;
    }
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 250px;
}